{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for item in order_items %}
      <tr>
        <td>{{ item.0.id }}</td>
        <td>{{ item.0.get_order_status_display }}</td>
        <td>{{ item.0.get_pay_method_display }}</td>
        <td>{{ item.1 }}</td>
        <td>{{ item.0.firstname }} {{ item.0.lastname }}</td>
        <td>{{ item.0.phonenumber }}</td>
        <td>{{ item.0.address }}</td>
        <td>
            {% if item.0.restaurant %}
              Готовит {{ item.0.restaurant }}
            {% elif not item.2 %}
                Ошибка определения координат
            {% else %}
              <details>
                <summary>Может быть приготовлен ресторанами:</summary>
                <ul>
                  {% for restaurant in item.2 %}
                    <li>{{ restaurant.0 }} - {{ restaurant.1 }} км</li>
                  {% endfor %}
                </ul>
              </details>
            {% endif %}
        </td>
        <td><a href="{% url 'admin:foodcartapp_order_change' object_id=item.0.id %}?next={{ request.get_full_path|urlencode }}">Редактировать</a> </td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
